<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProfile name="prod">

        <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
            <syslogHost>10.5.0.133</syslogHost>
            <facility>LOCAL0</facility>
            <port>514</port>
            <!-- include %exception in message instead of allowing default multiline stack trace -->
            <throwableExcluded>true</throwableExcluded>
        </appender>

        <logger name="edu.akdeniz.softeng" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="SYSLOG"/>
        </logger>

    </springProfile>
</configuration>
